<div class="roulette-container">
  <div class="img-container">
    Image Goes Here
  </div>

  <div class="roulette-inp-container">
    <span *ngFor="let option of options; let i = index" [attr.data-index]="i">
      <label [attr.for]="'bet' + i">{{option}}</label>
      <input id="bet{{i}}" [(ngModel)]="betInp[i]" (change)="computeBet(i)" [disabled]="isInputDisabled(i) || !isDataRec" type="number" step="500" value="0" min="0" required>
    </span>
    <button (click)="play()" [disabled]="!isDataRec" class="btn btn-primary">Play</button>
  </div>
</div>
