<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <!--<add name="CasinoDbEntities" connectionString="metadata=res://*/EntityModel.CasinoModel.csdl|res://*/EntityModel.CasinoModel.ssdl|res://*/EntityModel.CasinoModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=AKSHAY3146447\SQLEXPRESS2012;initial catalog=CasinoDb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="UserDBEntities" connectionString="metadata=res://*/EntityModel.CasinoModel.csdl|res://*/EntityModel.CasinoModel.ssdl|res://*/EntityModel.CasinoModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=AMAR3146444\SQL2012;initial catalog=UserDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>